.table thead th {
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}
.filter-label {
  display: block;
}
.mentor-cell div {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.mentor-cell {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.dateTime {
  white-space: nowrap;
}
.hidden {
  display: none;
}
.ant-table {
  overflow-x: auto;
}
.ant-table-cell{
  cursor: default;
}
.ant-table-cell .ant-form-item {
  margin-bottom: 0;
}
.ant-table-cell a:hover{
  color: #1890ff !important
}
.anticon {
  vertical-align: 0 !important
}
.editCell{
  white-space: nowrap;
}
.lateRow {
  opacity: 0.5;
}