.App {
  font-family: sans-serif;
  text-align: center;
}

@media (max-width: 605px) {
  .fc-toolbar-title {
      margin: revert !important;
  }

  .fc-toolbar {
    display: block !important;
}

.fc{
  text-align: center !important;
}

.fc-timeGridWeek-view th{
  font-size: 0.7rem !important;
}
}
