.App {
  font-family: sans-serif;
  text-align: center;
}

.MuiCircularProgress-colorSecondary {
    top: 45% !important;
    position: absolute !important;
    left: 48% !important;
}

.fc-daygrid-dot-event .fc-event-title{
  overflow: unset!important;
}

.fc-daygrid-event{
  overflow-x: scroll!important;
}

@media (max-width: 605px) {
.fc-toolbar-title {
      margin: revert !important;
  }

.fc-toolbar {
    display: block !important;
}

.fc{
  text-align: center !important;
}

.fc-timeGridWeek-view th{
  font-size: 0.7rem !important;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  font-size: .6rem;
}

.fc-daygrid-dot-event .fc-event-title{
  font-size: .6rem;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end{
  margin-left: 0px!important;
}
}
